.containerDiv {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 120px;
}
.containerCol {
  padding: 20px;
}
.formBox {
  margin: 15px;
}
.loginButton {
  padding: 10px;
  width: 100%;
  display: flex;
}
.formUpperText {
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}
